openapi: 3.0.0
info:
  title: Folio Query Tool API
  version: v1
  description: Folio Query Tool API

servers:
  - url: https://falcon.ci.folio.org/folio-query-tool/

paths:
  /entity-types/{entity-type-id}:
    get:
      operationId: getEntityType
      description: Get definition of an Entity Type.
      tags:
        - folio-query-tool
      parameters:
        - $ref: '#/components/parameters/entity-type-id'
      responses:
        '200':
          description: 'Definition of the requested entity type'
          content:
            application/json:
              example: examples/entityTypeDefinition.sample
              schema:
                $ref: '#/components/schemas/entityType'
        '400':
          $ref: '#/components/responses/badRequestResponse'
        '500':
          $ref: '#/components/responses/internalServerErrorResponse'

components:
  parameters:
    entity-type-id:
      name: entity-type-id
      in: path
      required: true
      description: UUID of the entity type
      schema:
        type: string
        format: UUID

  schemas:
    entityType:
      $ref: schemas/entityType.json#/EntityType
    entityDataType:
      $ref: schemas/entityDataType.json#/EntityDataType
    stringType:
      $ref: schemas/entityDataType.json#/StringType
    rangedUUIDType:
      $ref: schemas/entityDataType.json#/RangedUUIDType
    openUUIDType:
      $ref: schemas/entityDataType.json#/OpenUUIDType
    numberType:
      $ref: schemas/entityDataType.json#/NumberType
    integerType:
      $ref: schemas/entityDataType.json#/IntegerType
    booleanType:
      $ref: schemas/entityDataType.json#/BooleanType
    dateType:
      $ref: schemas/entityDataType.json#/DateType
    enumType:
      $ref: schemas/entityDataType.json#/EnumType
    objectType:
      $ref: schemas/entityDataType.json#/ObjectType
    arrayType:
      $ref: schemas/entityDataType.json#/ArrayType
    entityTypeDefaultSort:
      $ref: schemas/entityTypeDefaultSort.json
    errors:
      $ref: schemas/error/errors.json
    error:
      $ref: schemas/error/error.json
    parameters:
      $ref: schemas/error/parameters.json
    parameter:
      $ref: schemas/error/parameter.json

  responses:
    badRequestResponse:
      description: Bad request errors
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errors"
    internalServerErrorResponse:
      description: When unhandled exception occurred during code execution, e.g. NullPointerException
      content:
        application/json:
          example: examples/unknownError.sample
          schema:
            $ref: "#/components/schemas/errors"
