{
    "id" : 0cb79a4c-f7eb-4941-a104-745224ae0292,
    "name":"item_details",
    "labelAlias" : "Item",
    "columns": [
        {
            "name": "id",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Item Id",
            "visibleByDefault": false
        },
        {
            "name": "item_effective_call_number",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Effective Call Number",
            "visibleByDefault": false
        },
        {
            "name": "item_effective_shelving_order",
            "dataType":{
              "dataType": "stringType"
            },
            "labelAlias": "Shelving Order",
            "visibleByDefault": false
        },
        {
            "name": "item_holdings_record_id",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Holdings Record Id",
            "visibleByDefault": true
        },
        {
            "name": "instance_id",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Instance Id",
            "visibleByDefault": false
        },
        {
            "name": "instance_title",
           "dataType":{
            "dataType":"stringType"
            },
            "labelAlias": "Instance Title",
            "visibleByDefault": true
        },
        {
            "name": "instance_primary_contributor",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Instance Primary Contributor",
            "visibleByDefault": true
        }
    ]
}
