{
  "content": [
    {
      "id": "0cdc08f5-c93b-4781-b921-e7666d5269dc",
      "item_holdings_record_id": "46f5e55e-f002-4117-ad4b-544eb1f047c0",
      "item_status": "aged to lost",
      "item_barcode": "161954852924496",
      "item_effective_location_id": "6216269b-9c9e-4129-adc5-ca9397137edc",
      "item_effective_location_name": "BOOK/MEDIA CIRC DESK",
      "item_material_type_id": "3212b3e9-bce7-4ff1-88e2-8def758ba977",
      "item_material_type": "unspecified -- unspecified",
      "instance_id": "9fa15238-3a39-4b3a-9d9b-e0b7c786278f",
      "instance_primary_contributor": "Paul Dukas-ww"
    },
    {
      "id": "046f82b2-576b-48e4-a6b9-1e14f3f52389",
      "item_holdings_record_id": "46f5e55e-f002-4117-ad4b-544eb1f047c0",
      "item_status": "aged to lost",
      "item_barcode": "16195491765770",
      "item_effective_location_id": "6216269b-9c9e-4129-adc5-ca9397137edc",
      "item_effective_location_name": "BOOK/MEDIA CIRC DESK",
      "item_material_type_id": "3212b3e9-bce7-4ff1-88e2-8def758ba977",
      "item_material_type": "unspecified -- unspecified",
      "instance_id": "9fa15238-3a39-4b3a-9d9b-e0b7c786278f",
      "instance_primary_contributor": "Paul Dukas-ww"
    },
    {
      "id": "d8a62bb8-3181-4ff6-a160-65bd09ce2124",
      "item_holdings_record_id": "46f5e55e-f002-4117-ad4b-544eb1f047c0",
      "item_status": "aged to lost",
      "item_barcode": "161954869516296",
      "item_effective_location_id": "6216269b-9c9e-4129-adc5-ca9397137edc",
      "item_effective_location_name": "BOOK/MEDIA CIRC DESK",
      "item_material_type_id": "3212b3e9-bce7-4ff1-88e2-8def758ba977",
      "item_material_type": "unspecified -- unspecified",
      "instance_id": "9fa15238-3a39-4b3a-9d9b-e0b7c786278f",
      "instance_primary_contributor": "Paul Dukas-ww"
    }
  ],
  "totalRecords": 1000
}
